

  @import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100&family=Inria+Serif:wght@300&family=Kanit:wght@100&family=Merriweather+Sans:wght@300&family=Montserrat:wght@100&family=Nunito:wght@200&family=Oleo+Script+Swash+Caps&family=Public+Sans:wght@100&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
